In [1]:
# Importações de bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# Ler o arquivo
df = pd.read_csv(r'C:\Users\renat\RenataAndradeSantana-Analise_de_Boa_Leitura\GoodReads_100k_books.csv', encoding= 'utf-8-sig')
df

,author,bookformat,desc,genre,img,isbn,isbn13,link,pages,rating,reviews,title,totalratings
0,Laurence M. Hauptman,Hardcover,Reveals that several hundred thousand Indians ...,"History,Military History,Civil War,American Hi...",https://i.gr-assets.com/images/S/compressed.ph...,002914180X,9.78E+12,https://goodreads.com/book/show/1001053.Betwee...,0,3.52,5,Between Two Fires: American Indians in the Civ...,33
1,"Charlotte Fiell,Emmanuelle Dirix",Paperback,Fashion Sourcebook - 1920s is the first book i...,"Couture,Fashion,Historical,Art,Nonfiction",https://i.gr-assets.com/images/S/compressed.ph...,1906863482,9.78E+12,https://goodreads.com/book/show/10010552-fashi...,576,4.51,6,Fashion Sourcebook 1920s,41
2,Andy Anderson,Paperback,The seminal history and analysis of the Hungar...,"Politics,History",https://i.gr-assets.com/images/S/compressed.ph...,948984147,9.78E+12,https://goodreads.com/book/show/1001077.Hungar...,124,4.15,2,Hungary 56,26
3,Carlotta R. Anderson,Hardcover,"""All-American Anarchist"" chronicles the life a...","Labor,History",https://i.gr-assets.com/images/S/compressed.ph...,814327079,9.78E+12,https://goodreads.com/book/show/1001079.All_Am...,324,3.83,1,All-American Anarchist: Joseph A. Labadie and ...,6
4,Jean Leveille,NaN,"Aujourdâ€™hui, lâ€™oiseau nous invite Ã sa ta...",NaN,https://i.gr-assets.com/images/S/compressed.ph...,2761920813,NaN,https://goodreads.com/book/show/10010880-les-o...,177,4.00,1,Les oiseaux gourmands,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,Simon Monk,ebook,Design custom printed circuit boards with EAGL...,NaN,https://i.gr-assets.com/images/S/compressed.ph...,71819266,9.78007E+12,https://goodreads.com/book/show/17320181-make-...,304,4.07,7,Make Your Own PCBs with Eagle: From Schematic ...,56
99996,"Tracie L. Miller-Nobles,Brenda L. Mattison,Ell...",Hardcover,"Redefining tradition in learning accounting. ,...",NaN,https://i.gr-assets.com/images/S/compressed.ph...,133251241,9.78013E+12,https://goodreads.com/book/show/17320260-horng...,1645,4.05,1,Horngren's Financial & Managerial Accounting,38
99997,C. John Miller,Paperback,In these warm reflections on his own growth as...,"Christianity,Evangelism,Christian,Religion,The...",https://i.gr-assets.com/images/S/compressed.ph...,875523919,9.78088E+12,https://goodreads.com/book/show/173203.A_Faith...,160,4.27,20,A Faith Worth Sharing: A Lifetime of Conversat...,122
99998,Albert Marrin,Hardcover,"John Brown is a man of many legacies, from her...","Nonfiction,History,Biography,Military History,...",https://i.gr-assets.com/images/S/compressed.ph...,307981533,9.78031E+12,https://goodreads.com/book/show/17320669-a-vol...,256,3.63,51,A Volcano Beneath the Snow: John Brown's War A...,156
99999,Marc E. Fitch,ebook,Did you know that interest in UFO research inc...,"Fantasy,Paranormal,Nonfiction",https://i.gr-assets.com/images/S/compressed.ph...,313382077,9.78031E+12,https://goodreads.com/book/show/17320689-paran...,398,3.83,3,"Paranormal Nation: Why America Needs Ghosts, U...",12

In [5]:
# Verificando quantidade de linhas e colunas
df.shape

(100000, 13)

In [6]:
# Verificando os nomes das colunas
df.columns

Index(['author', 'bookformat', 'desc', 'genre', 'img', 'isbn', 'isbn13',
       'link', 'pages', 'rating', 'reviews', 'title', 'totalratings'],
      dtype='object')

In [7]:
# Verificando o tipo de dados 
df.dtypes

author           object
bookformat       object
desc             object
genre            object
img              object
isbn             object
isbn13           object
link             object
pages             int64
rating          float64
reviews           int64
title            object
totalratings      int64
dtype: object

In [8]:
# Informação mais detalhada do dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   author        100000 non-null  object
 1   bookformat    96772 non-null   object
 2   desc          93228 non-null   object
 3   genre         89533 non-null   object
 4   img           96955 non-null   object
 5   isbn          85518 non-null   object
 6   isbn13        88565 non-null   object
 7   link          100000 non-null  object
 8   pages         100000 non-null  int64
 9   rating        100000 non-null  float64
 10  reviews       100000 non-null  int64
 11  title         99999 non-null   object
 12  totalratings  100000 non-null  int64
dtypes: float64(1), int64(3), object(9)
memory usage: 9.9+ MB

In [9]:
# Consultando a quantidade de valores ausentes
df.isnull().sum()

author              0
bookformat       3228
desc             6772
genre           10467
img              3045
isbn            14482
isbn13          11435
link                0
pages               0
rating              0
reviews             0
title               1
totalratings        0
dtype: int64

In [10]:
# Exclusão de colunas consideradas desnecessária para o contexto
df.drop(['bookformat', 'isbn', 'isbn13'], axis=1, inplace=True)

In [11]:
# Resultado da quantidade de colunas excluida
df.shape

(100000, 10)

In [12]:
# Deletar as linhas cujas valores são NAN na coluna title
df.dropna(subset=['desc', 'genre', 'img', 'title'], inplace=True)

In [13]:
df.isnull().sum()

author          0
desc            0
genre           0
img             0
link            0
pages           0
rating          0
reviews         0
title           0
totalratings    0
dtype: int64

In [14]:
# Verificar duplicatas
duplicados = df.duplicated()

In [15]:
# Exibir as linhas duplicadas
df[duplicados]

Empty DataFrame
Columns: [author, desc, genre, img, link, pages, rating, reviews, title, totalratings]
Index: []

In [16]:
# Contar o número de linhas duplicadas
numero_duplicados = df.duplicated().sum()
numero_duplicados

0

In [17]:
# Transformar o aquivo tratado em um novo
df.to_csv('oodReads_books_limpo.csv', index=False)