In [36]:
# Importações de bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [37]:
# Ler o arquivo
df = pd.read_csv(r'C:\Users\renat\RenataAndradeSantana-Analise_de_Boa_Leitura\oodReads_books_limpo.csv', encoding= 'utf-8-sig')
df.head()

,author,desc,genre,img,link,pages,rating,reviews,title,totalratings
0,Laurence M. Hauptman,Reveals that several hundred thousand Indians ...,"History,Military History,Civil War,American Hi...",https://i.gr-assets.com/images/S/compressed.ph...,https://goodreads.com/book/show/1001053.Betwee...,0,3.52,5,Between Two Fires: American Indians in the Civ...,33
1,"Charlotte Fiell,Emmanuelle Dirix",Fashion Sourcebook - 1920s is the first book i...,"Couture,Fashion,Historical,Art,Nonfiction",https://i.gr-assets.com/images/S/compressed.ph...,https://goodreads.com/book/show/10010552-fashi...,576,4.51,6,Fashion Sourcebook 1920s,41
2,Andy Anderson,The seminal history and analysis of the Hungar...,"Politics,History",https://i.gr-assets.com/images/S/compressed.ph...,https://goodreads.com/book/show/1001077.Hungar...,124,4.15,2,Hungary 56,26
3,Carlotta R. Anderson,"""All-American Anarchist"" chronicles the life a...","Labor,History",https://i.gr-assets.com/images/S/compressed.ph...,https://goodreads.com/book/show/1001079.All_Am...,324,3.83,1,All-American Anarchist: Joseph A. Labadie and ...,6
4,Jeffrey Pfeffer,Why is common sense so uncommon when it comes ...,"Business,Leadership,Romance,Historical Romance...",https://i.gr-assets.com/images/S/compressed.ph...,https://goodreads.com/book/show/1001090.The_Hu...,368,3.73,7,The Human Equation: Building Profits by Puttin...,119

In [38]:
# Atribuição da coluna df['genre'] no dataset. df['genre'] com apenas dois generos considrados mais importante para a análise
df['genre'] = df['genre'].str.split(',').str[:2].apply(lambda x: ', '.join(x))

In [39]:
# Seleção das colunas relevantes para o modelo
df_modelo = df[['genre', 'rating', 'reviews', 'totalratings']]
df_modelo

                           genre  rating  reviews  totalratings
0      History, Military History    3.52        5            33
1               Couture, Fashion    4.51        6            41
2              Politics, History    4.15        2            26
3                 Labor, History    3.83        1             6
4           Business, Leadership    3.73        7           119
...                          ...     ...      ...           ...
84846    Nonfiction, Environment    3.77       74           497
84847         Animals, Childrens    3.97       94           535
84848   Christianity, Evangelism    4.27       20           122
84849        Nonfiction, History    3.63       51           156
84850        Fantasy, Paranormal    3.83        3            12

[84851 rows x 4 columns]

In [40]:
df_modelo = df[['genre', 'rating', 'reviews', 'totalratings']]
df_modelo

                           genre  rating  reviews  totalratings
0      History, Military History    3.52        5            33
1               Couture, Fashion    4.51        6            41
2              Politics, History    4.15        2            26
3                 Labor, History    3.83        1             6
4           Business, Leadership    3.73        7           119
...                          ...     ...      ...           ...
84846    Nonfiction, Environment    3.77       74           497
84847         Animals, Childrens    3.97       94           535
84848   Christianity, Evangelism    4.27       20           122
84849        Nonfiction, History    3.63       51           156
84850        Fantasy, Paranormal    3.83        3            12

[84851 rows x 4 columns]

In [41]:
# Codificando a feature 'genre' usando One-Hot Encoding
df_genre_cod = pd.get_dummies(df_modelo, columns=['genre'], drop_first=True)

In [42]:
# Codificando a feature 'genre' usando One-Hot Encoding
df_genre_cod

,rating,reviews,totalratings,"genre_40k, Audiobook","genre_40k, Fantasy","genre_40k, Fiction","genre_40k, Games","genre_40k, Science Fiction",genre_Academic,"genre_Academic, Academia",...,"genre_Young Adult, Sociology","genre_Young Adult, Sports","genre_Young Adult, Spy Thriller","genre_Young Adult, Teen","genre_Young Adult, Thriller","genre_Young Adult, Travel","genre_Young Adult, Womens Fiction","genre_Young Adult, World War II","genre_Young Adult, Young Adult","genre_Young Adult, Young Adult Paranormal"
0,3.52,5,33,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,4.51,6,41,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,4.15,2,26,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,3.83,1,6,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,3.73,7,119,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84846,3.77,74,497,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
84847,3.97,94,535,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
84848,4.27,20,122,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
84849,3.63,51,156,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
84850,3.83,3,12,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [43]:
df_genre_cod = df_genre_cod.astype(int)

In [44]:
df_genre_cod

,rating,reviews,totalratings,"genre_40k, Audiobook","genre_40k, Fantasy","genre_40k, Fiction","genre_40k, Games","genre_40k, Science Fiction",genre_Academic,"genre_Academic, Academia",...,"genre_Young Adult, Sociology","genre_Young Adult, Sports","genre_Young Adult, Spy Thriller","genre_Young Adult, Teen","genre_Young Adult, Thriller","genre_Young Adult, Travel","genre_Young Adult, Womens Fiction","genre_Young Adult, World War II","genre_Young Adult, Young Adult","genre_Young Adult, Young Adult Paranormal"
0,3,5,33,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4,6,41,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,2,26,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,1,6,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3,7,119,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84846,3,74,497,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
84847,3,94,535,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
84848,4,20,122,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
84849,3,51,156,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
84850,3,3,12,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [45]:
existe_1_coluna2 = (df_genre_cod['genre_40k, Audiobook'] == 1).any()
existe_1_coluna2

True

Modelo de Treinamento - Random Florest

In [46]:
# Importações de bibliotecas
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import SMOTE

In [59]:
# Definição do critério para boa avaliação e criar o rótulo
df_genre_cod['good_rating'] = (df_genre_cod['rating'] > 3).astype(int)
df_genre_cod['good_rating']

0        0
1        1
2        1
3        0
4        0
        ..
84846    0
84847    0
84848    1
84849    0
84850    0
Name: good_rating, Length: 84851, dtype: int32

In [60]:
# Separação das features e a variável a ser prevista
X = df_genre_cod.drop(columns=['rating', 'good_rating'])
y = df_genre_cod['good_rating']

In [61]:
# Dividir o dataset em treino e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [62]:
# Treinando o modelo de Regressão Logística
model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

In [63]:
# Previsões e avaliação do modelo
y_pred = model.predict(X_test)
y_pred_proba = model.predict_proba(X_test)[:, 1]  # Probabilidades da classe positiva

In [64]:
# Resultados
print("Acurácia:", accuracy_score(y_test, y_pred))
print("Relatório de Classificação:\n", classification_report(y_test, y_pred))

Acurácia: 0.6106298980613989
Relatório de Classificação:
               precision    recall  f1-score   support

           0       0.62      0.85      0.72      9977
           1       0.56      0.26      0.36      6994

    accuracy                           0.61     16971
   macro avg       0.59      0.56      0.54     16971
weighted avg       0.60      0.61      0.57     16971